<!DOCTYPE html>
{% load i18n %}
{% load static %}
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{LANGUAGE_CODE}}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <!-- CSS-->
    <link href='{% static "css/style.css"%}?v=1.01' rel="stylesheet" type="text/css">
    <!-- JS -->
    <script src='{% static "js/main.js"%}'></script>
    <!-- flag icon-->
    <link href='{% static "css/flag-icon.min.css"%}' rel="stylesheet" type="text/css">
    {% block content_css %} {% endblock %}
</head>

<body>
    {% block content %} {% endblock %}
</body>
{% block content_js %}

{% endblock %}

</html>